<!DOCTYPE html>
<html>
<head>
    <title>FastAPI Image Upload</title>
</head>
<body>
    <h1>Upload an Image</h1>
    {% if function == "attributes" %}
    <form action="/uploadfileAttribute/" method="post" enctype="multipart/form-data">
        <label for="file">Choose a file:</label>
        <input type="file" name="file" id="file" accept="image/*">
        <br>
        <button type="submit">Upload</button>
    </form>
    {% endif %}
    {% if function == "thumbnail" %}
    <form action="/uploadfileThumbnail/" method="post" enctype="multipart/form-data">
        <label for="file">Choose a file:</label>
        <input type="file" name="file" id="file" accept="image/*">
        <br>
        <button type="submit">Upload</button>
    </form>
    {% endif %}

    {% if filename %}
        <h2>Uploaded Image:</h2>
        <img src="{{ url_for('uploads', path=filename) }}" alt="Uploaded Image">
    {% endif %}
</body>
</html>